extends ../layouts/default

	
mixin project(project)
		//-a(href="/project/" + project.slug)
		-	var classes = []
		each category in project.categories
			-	classes.push(category.key)

		div(class="pure-u-lg-1-4 pure-u-md-1-3 pure-u-sm-1-2 pure-u-1-1 item-container " + classes.join(" "))
			.item
				img(src=project.heroImage.url)


block content
	.fancy
		canvas#pixies
		.background

	section.intro
		.brand
			h1 Hi, I'm
				span  Ferre
				<br> Digital Creative</br>
			h2 a jack of all trades with a liking for Design &amp; Front-end Development
	section.content
		div.choose
			h3 Work 
			.button-group.filter-button-group
				button(data-filter="*") All
				button(data-filter=".design") design
				button(data-filter=".development") development
				button(data-filter=".video") video
				button(data-filter=".project") project

		.grid
			each project in data.projects.results
				+project(project)