a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

strong {
  font-weight: inherit; }

.fancy {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -9999; }

.background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -9999; }
  .background:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: " ";
    background-color: rgba(0, 0, 0, 0.4); }

div[class^="border"] {
  position: fixed;
  background-color: white;
  z-index: 9999; }

.intro {
  z-index: -1;
  height: 100vh;
  position: relative;
  color: white; }
  .intro .brand {
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80vw;
    height: 50vh; }
    .intro .brand h1 {
      font-size: 10vw; }

.brand {
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px; }
  .brand h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }
  .brand h2 {
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100; }
  .brand span {
    color: #85d62d; }

.content {
  min-height: 100vh;
  background-color: white;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 11px -2px; }

.about {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100; }
  .about p {
    margin-top: 15px;
    line-height: 30px; }
  .about:after {
    margin: 30px auto 0 auto;
    display: block;
    content: "";
    background-color: lightgrey;
    opacity: .5;
    width: 40%;
    height: 2px; }

.me {
  margin: 15px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("../images/me.jpg");
  background-size: cover; }

.quote {
  font-style: italic; }

.item {
  margin: 5px; }

.choose {
  text-align: center; }
  .choose h3 {
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: #85d62d; }

.button-group {
  padding: 0 0 30px 0; }

button {
  background-color: transparent;
  text-transform: uppercase;
  padding: 5px;
  border: 2px solid #85d62d;
  color: #85d62d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100; }
  button:hover, button.is-checked {
    color: white;
    background-color: #85d62d; }

.single-project {
  font-family: 'Montserrat', sans-serif;
  padding: 30px; }
  .single-project .back {
    text-transform: uppercase;
    font-weight: 100;
    color: lightgrey; }
    .single-project .back:hover {
      color: #85d62d; }
  .single-project .project-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #85d62d; }
    .single-project .project-title:after {
      margin: 30px 0 0 0;
      display: block;
      content: "";
      background-color: lightgrey;
      opacity: .5;
      width: 40%;
      height: 2px; }
  .single-project .project-info {
    padding-right: 15px; }
    .single-project .project-info h1 {
      font-weight: 100;
      font-family: 'Open Sans', sans-serif; }
    .single-project .project-info p, .single-project .project-info h6, .single-project .project-info ol {
      font-family: 'Open Sans', sans-serif;
      line-height: 25px;
      margin: 15px 0;
      font-weight: 100; }
    .single-project .project-info iframe {
      width: 100%; }
    .single-project .project-info img {
      max-width: 100%;
      height: auto; }
    .single-project .project-info a {
      color: #85d62d; }
    .single-project .project-info em {
      font-style: italic; }

@media (max-width: 940px) {
  canvas {
    display: none; } }

/*# sourceMappingURL=site.css.map */
