a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif; }

strong {
  font-weight: inherit; }

h1, h2, h3, h4 {
  margin: 0; }

h1, h2 {
  font-family: 'Montserrat', sans-serif; }

.center {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix {
  overflow: auto;
  zoom: 1; }

.section {
  position: relative; }

.background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }
  .background:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: " "; }

.font--white {
  color: white; }

.font--theme {
  color: #85d62d; }

.section__intro {
  min-height: 100vh;
  z-index: -5; }
  .section__intro .brand {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80vw;
    height: 50vh;
    z-index: -5; }
    .section__intro .brand h1 {
      font-size: 10vw;
      font-weight: bold;
      line-height: 1em; }
    .section__intro .brand h2 {
      font-size: 1em;
      font-weight: 100;
      margin: 25px; }

.background__intro {
  background-image: url("../images/background_low.jpg");
  z-index: -5; }
  .background__intro:before {
    background-color: rgba(0, 0, 0, 0.4); }

.section__about {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 11px -2px; }
  .section__about .about__me {
    background-color: white;
    background-image: url("../images/me_prof_transparent.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right; }
  .section__about .about__bio__inner {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-align: justify;
    padding: 25px; }
    .section__about .about__bio__inner p {
      margin-bottom: 15px;
      line-height: 25px; }
    .section__about .about__bio__inner .greeting {
      font-size: 2.45em;
      color: #85d62d; }
    .section__about .about__bio__inner .quote {
      font-style: italic; }

.button {
  display: inline-block;
  padding: 5px;
  background-color: #85d62d;
  border: 2px solid #85d62d;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100; }
  .button:hover, .button.is-checked {
    color: #85d62d;
    background-color: white; }

.background__skills {
  background-image: url("../images/skills.jpg"); }
  .background__skills:before {
    background-color: #365911;
    opacity: 0.7; }

h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100; }

h4 {
  font-size: 1.2em; }

h3 {
  font-size: 2.5em;
  text-align: center;
  padding: 25px 0; }

.skills__inner {
  position: relative;
  padding: 0 25px 25px 25px; }

.skills__lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.skills__list {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  padding: 0 25px;
  flex-basis: auto; }
  .skills__list ul {
    padding-left: 20px; }
  .skills__list li {
    line-height: 1.5em; }

.section__work {
  background-color: white; }

.button-group {
  padding: 0 0 30px 0; }
  .button-group .button {
    text-transform: uppercase; }

.item {
  margin: 5px; }

footer {
  position: absolute;
  bottom: 0;
  background-color: whitesmoke;
  padding: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 32px;
  width: calc(100% - 50px); }
  footer a {
    color: lightgrey; }
    footer a:hover {
      color: #85d62d; }

.right a {
  font-size: 2.2em;
  margin: 0 5px; }

section:last-of-type {
  padding-bottom: 90px; }

.single-project {
  padding: 25px; }

.back {
  text-transform: uppercase;
  font-weight: 100;
  color: lightgrey; }
  .back:hover {
    color: #85d62d; }

.project-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #85d62d;
  margin: 25px 0; }
  .project-title:after {
    margin: 25px 0 0 0;
    display: block;
    content: "";
    background-color: lightgrey;
    opacity: .5;
    width: 40%;
    height: 2px; }

.project-info {
  padding-right: 15px; }
  .project-info h1 {
    font-weight: 100;
    font-family: 'Open Sans', sans-serif; }
  .project-info p, .project-info h6, .project-info ol {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    margin: 15px 0;
    font-weight: 100; }
  .project-info iframe {
    width: 100%; }
  .project-info img {
    max-width: 100%;
    height: auto; }
  .project-info a {
    color: #85d62d; }
  .project-info em {
    font-style: italic; }
